<!DOCTYPE html>
<html lang="en">
<title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.min.css">
  <link rel="stylesheet" href="./static/lib/css/leaflet.css">
<link rel="stylesheet" href="./static/css/custom.css">


<head>
  <meta charset="utf-8">
  <style> /* set the CSS */
    body { font: 12px Arial;}
    path {
      stroke-width: 2;
      fill: none;
    }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #F0F8FF;
      stroke-width: 0;
    }
  </style>
</head>
<body>
<div id='graphDiv'></div>

<svg width="1200" height="530"></svg>

<script src="http://d3js.org/d3.v4.min.js"></script>
<script>
  var svg = d3.select("svg"),
    
  margin3 = {top: 50, right: 750, bottom: 30, left: 20},
  width3 = +svg.attr("width") - margin3.left - margin3.right,
  height3 = +svg.attr("height") - margin3.top - margin3.bottom;

  var x3 = d3.scaleLinear().range([0,width3]),
    y3 = d3.scaleLinear().range([height3,0]);

  var xAxis3 = d3.axisBottom(x3),
    yAxis3 = d3.axisLeft(y3);

  var map = svg.append("g")
    .attr("class", "map")
    .attr("transform", "translate(" + margin3.left + "," + margin3.top + ")");

  var projection = d3.geoMercator()
      .scale(100000)
      //.center([-87.654312, 41.875767]);
      .center([-87.648727,41.884078])
      .translate([width3/2,height3/2]);


var graphData = {{ data.chart_data | safe }}
console.log(graphData);

x3.domain(d3.extent(graphData , function(d) { return d.longitude; })).nice();
y3.domain(d3.extent(graphData , function(d) { return d.latitude; })).nice();

map.selectAll("circle")
        .data(graphData )
      .enter().append("circle")
      .attr("class", "map")
        .attr("cx", function(d) {return projection([d.longitude,d.latitude])[0]})
        .attr("cy", function(d) {return projection([d.longitude,d.latitude])[1]})
        .attr("r", function(d) {return 0.1*d.totalDocks});
        
map.selectAll("circle")
        .data(graphData )
      .enter().append("circle")
      .attr("class", "map")
        .attr("cx", function(d) {return projection([d.longitude,d.latitude])[0]})
        .attr("cy", function(d) {return projection([d.longitude,d.latitude])[1]})
        .attr("r", function(d) {return 0.1*d.availableBikes})
        .attr("fill","green");
      


</script>

<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/underscore-min.js"></script>
<script src="./static/lib/js/crossfilter.js"></script>
<script src="./static/lib/js/d3.min.js"></script>
<script src="./static/lib/js/dc.min.js"></script>
<script src="./static/lib/js/queue.js"></script>
<script src="./static/lib/js/leaflet.js"></script>
<script src="./static/lib/js/leaflet-heat.js"></script>
<script src="./static/lib/js/keen.min.js"></script>
<script src='./static/js/graphs2.js' type='text/javascript'></script>




</body>
</html>