<!DOCTYPE html>
<html lang="en">
<title>Dashboard</title>

<head>
  <meta charset="utf-8">
  <style> /* set the CSS */
    body { font: 12px Arial;}
    path {
      stroke-width: 2;
      fill: none;
    }
    .axis path, .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }
    .area {
      fill: #F0F8FF;
      stroke-width: 0;
    }

    .line {
    fill: none;
    stroke: #00b9e7;
    stroke-width: 2;
}
    .map{
    fill: #00b9e7;
}

  </style>
</head>

<body>
<h1><a>Divvy Station Map:</a></h1>

<h3><a href="{{url_for('index')}}">New Route</a></h3>

<form method="POST" action="/Suggested_Route">
    Start Station : <input type="number" name="start_station" required="" id="Start_id2"/><br /><br />
		End Station : <input type="number" name="end_station" required="" id="End_id2"/><br /><br />
    <input type="submit" name="submit" value="Run">
</form>


<svg width="400" height="800"></svg>
<script src="http://d3js.org/d3.v4.min.js"></script>
<script>

// Map SVG Canvas:
var svg = d3.select("svg"),
    margin = {top: 0, right: 0, bottom: 0, left: 0},
    width = +svg.attr("width") 
    height = +svg.attr("height") 
var svg = svg.attr("transform", "translate(" + margin.left + "," + margin.top + ")")    

var map = svg
    .append("g");
    //.attr("transform", "translate(" + margin.left + "," + margin.top + ")"); 
var base_map = svg.append("g");

// Varibles:
var start_i = 0; 
var end_i = 0;
var long_centroid = -87.66204512499999;
var lat_centroid = 41.90075;
var zoom0 = 95000;
//var map_height = 733.74;
//var map_width = 375.79;

// Station Points Projection:
var projection = d3.geoMercator()
    .scale(zoom0)
    .center([long_centroid,lat_centroid])
    .translate([width/2,height/2]);

// Path to Connect Start to End Station
var path = d3.line()
    .x(function(d) { return projection([d.longitude,d.latitude])[0]; }) 
    .y(function(d) { return projection([d.longitude,d.latitude])[1]; })  
    .curve(d3.curveMonotoneX);  

// Zoom Brush    
var brush = d3.brush()
    .extent([[0, 0], [width,height]])
    .on("end", brushended),
    idleTimeout,
    idleDelay = 350;
    
svg.append("g")
    .attr("class", "brush")
    .call(brush);

//TEST DATA: 
var tempData = [
 {
   "longitude": -87.54938625,
   "latitude": 41.736646,
   "totalDocks":60
 },
 {
   "longitude": -87.54938625,
   "latitude": 42.064854,
   "totalDocks":60
 },
 {
   "longitude": -87.774704,
   "latitude": 41.736646,
   "totalDocks":60
 },
 {
   "longitude": -87.774704,
   "latitude": 42.064854,
   "totalDocks":60
 },
  {
   "longitude": -87.66204512499999,
   "latitude": 41.90075,
   "totalDocks": 60
 },
   {
   "longitude": -87.66204512499999,
   "latitude": 41.90075,
   "totalDocks": 60
 }
]

// Load Data:
var graphData = {{ data.chart_data | safe }}
var graphData2 = {{ data.chart_data2 | safe }}
var graphData3 = {{ data.chart_data3 | safe }}
console.log(graphData);
console.log(graphData2);
console.log(graphData3);

//Enter Station Points:
var stations = map.selectAll("circle").data(graphData)
stations  
    .enter().append("circle")
    .attr("cx", function(d) {return projection([d.longitude,d.latitude])[0]})
    .attr("cy", function(d) {return projection([d.longitude,d.latitude])[1]})
    .attr("r", function(d) {return 0.1*d.totalDocks})
    .attr("pointer-events", "all")
    .on("mouseover",abc);  
   

//Enter Bike Paths:
projectionM = d3.geoMercator().fitExtent([[margin, margin], [width - margin, height - margin]], graphData3);
pathGeneratorM = d3.geoPath().projection(projection);

base_map
    .append('path')
    .datum(graphData3)
    .attr('d', pathGeneratorM)
    .attr('fill', 'none')
    .attr('stroke', '#999999')
    .attr('stroke-width', '2')
    .attr('opacity',0.6);

//Load User Inputs:
d3.select("#Start_id2").on("input", function() {
    start_i = +this.value;
    update_(start_i,end_i);
    });

d3.select("#End_id2").on("input", function() {
    end_i = +this.value;
    update_(start_i,end_i);
    });


function abc(d) {
  d3.select(this)
  .attr("r", 10)
  .style("fill", "red");
  console.log(this);
  }

function handleMouseOver(d, i) {  // Add interactivity
      console.log(this);
      // Use D3 to select element, change color and size
      d3.select(this).attr({
        fill: "orange",
        r: 0.1*d.totalDocks * 2
      });

      // Specify where to put label of text
      stations.append("text").attr({
          //id: "t" + d.x + "-" + d.y + "-" + i,  // Create an id for text so we can select it later for removing on mouseout
          x: function() { return projection([d.longitude,d.latitude])[0]; },
          y: function() { return projection([d.longitude,d.latitude])[1]; }
      })
      .text(function() {
        return [d.longitude,d.latitude];  // Value of the text
      });
    }


//Filter Points by Selected Stations:
function path_(start_i,end_i){
  var Path_Pts  = graphData.filter(function(d, i) {return d.id == start_i || d.id == end_i;}); 
  if (Path_Pts.length==2) {
    Start = Path_Pts[0]
    End = Path_Pts[1]
    Taxi_x = Math.min(End.longitude,Start.longitude) 
    Taxi_y = Math.min(End.latitude,Start.latitude)
    dat = {"longitude": Taxi_x,"latitude": Taxi_y }
    Path_Pts.push(dat);
    Path_Pts[1] = Path_Pts[2] 
    Path_Pts[2] = End}
  return Path_Pts  
}

//Update Start Point (Green), End Point (Red), Draw Connection (Blue):
function update_(start_i,end_i) {
  map.selectAll('circle')
      .filter(function(d, i) {return d.id != start_i || d.id != end_i;})
      .attr("r", function(d) {return 0.1*d.totalDocks})
      .style('fill', 'black');
  
  map.selectAll('circle')
      .filter(function(d, i) {return d.id == start_i;})
      .attr("r", function(d) {return 5})
      .style('fill', 'green');

  map.selectAll('circle')
      .filter(function(d, i) {return d.id == end_i;})
      .attr("r", function(d) {return 5})
      .style('fill', 'red');

  map.selectAll('path').remove();
  map.append("path")
    .attr("class", "line") 
    .attr("d", path(path_(start_i,end_i) ));
};


function brushended() {    //Inspiration: https://bl.ocks.org/mbostock/f48fcdb929a620ed97877e4678ab15e6
  var s = d3.event.selection;
  if (!s) {
    if (!idleTimeout) return idleTimeout = setTimeout(idled, idleDelay);
    projection.center([long_centroid,lat_centroid]); 
    projection.scale(zoom0); 
  } else {
    x1 = s[0][0]; //Longitude
    x2 = s[1][0]; 
    y1 = s[0][1]; //Latitude
    y2 = s[1][1]; 
    x_c = x2 - ((x2-x1)/2);
    y_c = y1 - ((y1-y2)/2);  
    pro = ((height*width)/((x1-x2)*(y1-y2))) 
    zf = Math.log(pro)+1
    projection.center(projection.invert([x_c,y_c]));
    projection.scale(zoom0*zf);
    svg.select(".brush").call(brush.move, null);
  }
  zoom();
}

function idled() {
  idleTimeout = null;
}

function zoom() {
  var t = svg.transition().duration(750);
  map.selectAll("circle").transition(t)
      .attr("cx", function(d) { return projection([d.longitude,d.latitude])[0]; })
      .attr("cy", function(d) { return projection([d.longitude,d.latitude])[1]; });
  map.selectAll('path').transition(t)
      .attr("class", "line") 
      .attr("d", path(path_(start_i,end_i) ));  
  base_map.selectAll('path').transition(t)
      .attr('d', pathGeneratorM)  
}

</script>

<p>My name is and I am {{f}} years old.</p>

</body>
</html>